@import url("http://db.onlinewebfonts.com/c/51e35a1ffb5e3b1585fa96a24179dd52?family=Circe");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1140px;
    margin: auto;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.title {
    font-family: 'Circe';
    font-weight: bold;
    font-size: 40px;
    line-height: 120%;
    color: #24242E;
}


.header {
    background-image: url("img/header-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;

    &__section {
        width: 90%;
        padding-top: 11px;
        padding-bottom: 172px;
    }

    &__main {
        margin-top: auto;
        margin-bottom: auto;
        width: 100%;
    }

    &__content {
        margin-top: 80px;
    }

    &__title {
        max-width: 605px;
        font-family: 'Circe';
        font-weight: normal;
        font-size: 40px;
        line-height: 137%;
        color: #24242E;
        @media (min-width: 0) {
            font-size: calc(25px + (40 - 25) * ((100vw - 320px) / (1400 - 320)))
        }
    }

    &__subtitle {
        margin-top: 20px;
        font-family: 'Circe';
        font-size: 18px;
        line-height: 27px;
        color: #24242E;
    }

    &__icons {
        margin-top: 59px;
        max-width: 817px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 122px;
    }

}

.hover__title {
    color: #1E489B;
    font-weight: bold;
}

.navbar {
    display: flex;

    &__logo {
        padding-right: 78px;
    }

     &__block {
        list-style: none;
     }

     &__item {
         margin-left: 20px;
     }

     &__link {
        font-family: 'Circe';
        font-weight: bold;
        font-size: 12px;
        line-height: 110%;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        text-decoration: none;
        color: #24242E;
        padding-top: 26px;
     }

    &__link:hover {
        border-top: 4px solid #1E489B;
    }

     &__minilink {
        font-family: 'Circe';
        font-size: 14px;
        line-height: 21px;
        color: #1E489B;
        text-decoration: none;
        margin-left: auto;
        margin-right: 0;
     }
}

.menu {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
}

.logoText {
    font-family: 'Exo 2';
    font-weight: normal;
    font-size: 9.6px;
    line-height: 110%;
    color: #24242E;
}

.tel {
    font-family: 'Circe';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    color: #24242E;
    text-decoration: none;
}

.phone {
    margin-left: 129px;
    text-align: right;
}

.blockIcon {
    &__block {
        display: flex;
        align-items: center;
    }

    &__icon {
        margin-right: 10px;
    }

    &__text {
        max-width: 165px;
        font-family: 'Circe';
        font-size: 15px;
        line-height: 110%;
        color: #24242E;
    }
}

.sqareButton {
    width: 263px;
    height: 69px;
    background: #1E489B;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;


    font-family: 'Circe';
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}


.about {
    position: relative;
    
    &__video {
        margin-top: 67px;
        width: 90%;
    }

    &__waves {
        bottom: 0;
        right: 0;
        position: absolute;
        margin-bottom: -68px;
    }

    &__button {
        margin-top: 52px;
        margin-bottom: 68px;
    }
}

.video {
    &__title {
        padding-bottom: 40px;
    }

    &__button {
        background-color: transparent;
        border: none;
        margin-left: -70px;
        margin-top: 53px;
        vertical-align: top;
        position: relative;
    }
}

.playButton {
    outline: none;
}

.advantages {
    width: 90%;
    margin-top: 103px;

    &__title {
        width: 714px;
        margin-top: 80px;
    }

    &__list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        counter-reset: li;
    }

    &__advantage-card::before {
        counter-increment: li;
        content: "0" counters(li,".");
        font-family: Circe;
        font-style: normal;
        font-weight: 800;
        font-size: 50px;
        line-height: 120%;
        position: absolute;
        margin-left: 37px;
        margin-top: 30px;
        color: #FFFFFF;
    }

    &__advantage-card {
        max-width: 500px;
        display: flex;
        justify-content: flex-start;
        margin-top: 70px;
    }

    &__block {
        display: flex;
    }

    &__content {
        width: 390px;
    }
}

.advantage-card {

    &__img {
        width: 116.61px;
    }

    &__content {
        width: 390px;
    }

    &__heading {
        margin-left: 50px;
    }

    &__text {
        margin-left: 50px;
    }
}

.card-title {
    font-family: Circe;
    font-weight: normal;
    font-size: 30px;
    line-height: 120%;
    color: #24242E;
}

.card-subtitle {
    font-family: Circe;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    color: #24242E;
    margin-top: 11px;
}


.application {
    background: #24242E;
    min-height: 342px;
    margin-top: 132px;
    position: relative;
    z-index: -2;

    &__content {
        width: 90%;
    }

    &__title {
        color: #FFFFFF;
        max-width: 75%;
        font-family: Circe;
        font-weight: bold;
        font-size: 27px;
        line-height: 120%;
        padding-top: 55px;
    }

    &__figures {
        position: absolute;
        bottom: 0;
        right: 11%;
        z-index: -1;
    }

    &__form {
        display: flex;
        justify-content: space-between;
        z-index: 2;
        flex-wrap: wrap;
    }

    &__form-input {
        border: none;
        outline: none;
        width: 330px;
        height: 69px;
        background: #353542;
        font-family: Circe;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        color: #FFFFFF;
        padding-left: 30px;
        margin-top: 33px;
        z-index: 5;
    }

    &__form-input:focus {
        border-bottom: 4px solid #1E489B;
    }

    &__button {
        width: 360px;
        margin-top: 33px;
    }

    &__img {
        position: absolute;
        bottom: 145px;
        right: 251px;
    }

    &__minilink {
        width: 1005px;
        font-family: Circe;
        font-weight: normal;
        font-size: 14px;
        line-height: 120%;
        color: #FFFFFF;
        margin-top: 16px;
        padding-bottom: 30px;
    }
}

.partners {
    width: 90%;
    position: relative;
    padding-bottom: 124px;

    &__title {
        padding-top: 75px;
        max-width: 825px;
    }

    &__section {
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__onePartner {
        width: 360px;
        min-height: 225px;
        background: #F8F8F8;
        margin-top: 30px;
        // padding-top: 39px;
        // padding-left: 40px;
        // padding-right: 40px;
        // padding-bottom: 39px;
    }

    &__images {
        margin-left: 40px;
        margin-top: 39px;
    }

    &__text {
        width: 261px;
        font-family: Circe;
        font-size: 14px;
        line-height: 120%;
        color: #24242E;
        margin-left: 40px;
        margin-top: 28px;
        padding-bottom: 39px;
    }

    &__back-next {
        margin-top: -8px;
        background-color: transparent;
        border: none;
        outline: none;
    }

    &__buttons {
        position: absolute;
        right: 0;
    }
}