@import url("http://db.onlinewebfonts.com/c/51e35a1ffb5e3b1585fa96a24179dd52?family=Circe");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1140px;
    margin: auto;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

// ЦВЕТА

$black: #24242E;
$dark-gray: #353542;
$dark-sea: #1E489B;
$light-sea: #6984BB;
$white: #FFFFFF;
$milky: #F8F8F8;

.title {
    font-family: 'Circe';
    font-weight: bold;
    font-size: 40px;
    line-height: 120%;
    color: $black;
    @media (max-width: 768px) {
        font-size: calc(27px + (40 - 27) * ((100vw - 320px) / (1400 - 320)));
    }
}


.header {
    background-image: url("img/header-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    position: relative;

    &__section {
        width: 90%;
        padding-top: 11px;
        padding-bottom: 172px;
    }

    &__main {
        margin-top: auto;
        margin-bottom: auto;
        width: 100%;
    }

    &__content {
        margin-top: 80px;
    }

    &__title {
        max-width: 605px;
        font-family: 'Circe';
        font-weight: normal;
        font-size: 40px;
        line-height: 137%;
        color: $black;
        @media (max-width: 768px) {
            font-size: calc(25px + (40 - 25) * ((100vw - 320px) / (1400 - 320)));
            width: 85%;
        }

    }

    &__subtitle {
        margin-top: 20px;
        font-family: 'Circe';
        font-size: 18px;
        line-height: 27px;
        color: $black;
        line-height: 137%;
        @media (max-width: 768px) {
            font-size: calc(12px + (18 - 12) * ((100vw - 320px) / (1400 - 320)));
            width: 50%;
        }
    }

    &__icons2 {
        margin-top: 4px;
        max-width: 817px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 90%;
        margin: auto;
        @media (min-width: 376px) {
            display: none;
        }
    }

    &__icons {
        margin-top: 4px;
        max-width: 817px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 122px;
        @media (max-width: 376px) {
            display: none;
        }
    }
    

    &__arrow {
        position: absolute;
        left: 47%;
        bottom: 19px;
        @media (min-width: 376px) {
            display: none;
        }
    }
}

.sqareButton2 {
    width: 263px;
    height: 69px;
    background: $dark-sea;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    // outline: none;
    @media (max-width: 376px) {
            display: none;
        }

    font-family: 'Circe';
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: $white;
}

.sqareButton2:hover {
    background: $light-sea;
}

.hover__title {
    color: $dark-sea;
    font-weight: bold;
}

.navbar {
    display: flex;
    @media (max-width: 1252px) {
        display: none;
    }

    &__logo {
        padding-right: 78px;
        text-decoration: none;
    }

     &__block {
        list-style: none;
     }

     &__item {
         margin-left: 20px;
     }

     &__link {
        font-family: 'Circe';
        font-weight: bold;
        font-size: 12px;
        line-height: 110%;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        text-decoration: none;
        color: $black;
        padding-top: 26px;
     }

    &__link:hover {
        border-top: 4px solid $dark-sea;
    }

     &__minilink {
        font-family: 'Circe';
        font-size: 14px;
        line-height: 21px;
        color: $dark-sea;
        text-decoration: none;
        margin-left: auto;
        margin-right: 0;
     }
}

.navbar2 {
    background-color: white;
    padding: 16px 0 16px 0;

    &__content {
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &__logo {
        display: flex;
        text-decoration: none;
    }

     &__block {
        list-style: none;
     }

     &__item {
         margin-left: 20px;
     }
    &__minilink {
        font-family: 'Circe';
        font-size: 14px;
        line-height: 21px;
        color: $dark-sea;
        text-decoration: none;
        margin-left: auto;
        margin-right: 0;
     }

    @media (min-width: 1252px) {
        display: none;
    }
}

.menu {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
}

.logoText {
    font-family: 'Exo 2';
    font-weight: normal;
    font-size: 9.6px;
    line-height: 110%;
    color: $black;
    text-decoration: none;
}

.tel {
    font-family: 'Circe';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    color: $black;
    text-decoration: none;
}

.tel2 {
    font-family: 'Exo 2';
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    width: 100%;
    text-align: center;
    border-bottom: none;
}

.phone {
    margin-left: 129px;
    text-align: right;
}

.blockIcon {
    &__block {
        display: flex;
        align-items: center;
        margin-top: 55px;
    }

    &__icon {
        margin-right: 10px;
    }

    &__text {
        max-width: 165px;
        font-family: 'Circe';
        font-size: 15px;
        line-height: 110%;
        color: $black;
    }
}

.sqareButton {
    width: 263px;
    height: 69px;
    background: $dark-sea;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

    font-family: 'Circe';
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: $white;
}

.sqareButton:hover {
    background: $light-sea;
}


.about {
    position: relative;
    
    &__video {
        margin-top: 67px;
        width: 90%;
        @media (max-width: 768px) {
            margin-top: 64px;
        }
    }

    &__waves {
        bottom: 0;
        right: 0;
        position: absolute;
        margin-bottom: -68px;
        @media (max-width: 768px) {
            display: none;
        }
    }

    &__button {
        margin-top: 52px;
        margin-bottom: 68px;
        @media (max-width: 400px) {
            width: 100%;
            margin-top: 38px;
        }
    }
}

.video {
    &__content {
        height: 100%;
        max-width: 750px;
        width: 100%;
    }

    &__title {
        padding-bottom: 40px;
        @media (max-width: 768px) {
            padding-bottom: 29px;
        }
    }

    &__button {
        background-color: transparent;
        border: none;
        margin-left: -70px;
        margin-top: 53px;
        vertical-align: top;
        position: relative;

        @media (max-width: 1111px) {
            display: none;
        }
    }
}


.playButton {
    outline: none;
}

.advantages {
    width: 90%;
    margin-top: 103px;

    &__title {
        max-width: 714px;
        margin-top: 80px;
    }

    &__list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        counter-reset: li;
    }

    &__advantage-card::before {
        counter-increment: li;
        content: "0" counters(li,".");
        font-family: Circe;
        font-style: normal;
        font-weight: 800;
        font-size: 50px;
        line-height: 120%;
        position: absolute;
        margin-left: 37px;
        margin-top: 30px;
        color: $white;
    }

    &__advantage-card {
        max-width: 500px;
        display: flex;
        justify-content: flex-start;
        margin-top: 70px;
        @media (max-width: 530px) {
            flex-direction: column;
            margin-top: 60px;
        }
    }

    &__block {
        display: flex;
    }

    &__content {
        width: 390px;
    }
}

.advantage-card {

    &__img {
        width: 116.61px;
    }

    &__content {
        max-width: 390px;
         @media (max-width: 530px) {
            margin-top: 23px;
        }
    }

    &__heading {
        margin-left: 50px;
        @media (max-width: 530px) {
            margin-left: 0;
        }
    }

    &__text {
        margin-left: 50px;
        @media (max-width: 530px) {
            margin-left: 0;
        }
    }
}

.card-title {
    font-family: Circe;
    font-weight: normal;
    font-size: 30px;
    line-height: 120%;
    color: $black;
}

.card-subtitle {
    font-family: Circe;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    color: $black;
    margin-top: 11px;
}

.icon {
    display: flex;
    justify-content: center;
}


.application {
    background: $black;
    min-height: 342px;
    margin-top: 132px;
    position: relative;
    // z-index: -2;

    &__icon {
        width: 100%;
        @media (min-width: 1212px) {
            display: none;
        }
    }

    &__content {
        width: 90%;
    }

    &__title {
        color: $white;
        max-width: 75%;
        font-family: Circe;
        font-weight: bold;
        font-size: 27px;
        line-height: 120%;
        padding-top: 55px;
        @media (max-width: 768px) {
            font-size: calc(20px + (27 - 20) * ((100vw - 320px) / (1400 - 320)));
        }
    }

    &__form {
        display: flex;
        justify-content: space-between;
        z-index: 2;
        flex-wrap: wrap;
    }

    &__form-input {
        border: none;
        outline: none;
        width: 330px;
        height: 69px;
        background: $dark-gray;
        font-family: Circe;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        color: $white;
        padding-left: 30px;
        margin-top: 33px;
        z-index: 5;
        @media (max-width: 1212px) {
            width: 100%;
        }
    }

    &__form-input:focus {
        border-bottom: 4px solid $dark-sea;
    }

    &__button {
        width: 360px;
        margin-top: 33px;
        @media (max-width: 1212px) {
            width: 100%;
        }
    }

    &__img {
        position: absolute;
        bottom: 145px;
        right: 251px;
        @media (max-width: 1212px) {
            display: none;
        }
    }

    &__minilink {
        width: 100%;
        font-family: Circe;
        font-weight: normal;
        font-size: 14px;
        line-height: 120%;
        color: $white;
        margin-top: 16px;
        padding-bottom: 30px;
    }

    &--light {
        &__title {
        color: $black;
        max-width: 75%;
        font-family: Circe;
        font-weight: bold;
        font-size: 27px;
        line-height: 120%;
        padding-top: 55px;
        }

        &__form-input {
        border: none;
        outline: none;
        width: 330px;
        height: 69px;
        background: $milky;
        font-family: Circe;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        padding-left: 30px;
        margin-top: 33px;
        z-index: 5;
        }

        &__form-input:focus {
            border-bottom: 4px solid $dark-sea;
        }

        &__button {
            width: 360px;
            // margin-top: 33px;
        }
    }
}

.partners {
    width: 90%;
    position: relative;
    padding-bottom: 124px;

    &__title {
        padding-top: 75px;
        max-width: 825px;
    }

    &__section {
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__onePartner {
        width: 360px;
        min-height: 225px;
        background: $milky;
        margin-top: 30px;
    }

    &__images {
        margin-left: 40px;
        margin-top: 39px;
    }

    &__text {
        width: 261px;
        font-family: Circe;
        font-size: 14px;
        line-height: 120%;
        color: $black;
        margin-left: 40px;
        margin-top: 28px;
        padding-bottom: 39px;
    }

    &__back-next {
        margin-top: -8px;
        background-color: transparent;
        border: none;
        outline: none;
    }

    &__buttons {
        position: absolute;
        right: 0;
        @media (max-width: 1215px) {
            display: none;
        }
    }
}

.moreAdvantages {
    background: $black;
    padding-top: 70px;
    position: relative;

    &__section {
        width: 90%;
        padding-bottom: 70px;
        
    }
    
    &__title {
        max-width: 732px;
        color: $white;
    }

    &__secondSection {
        margin-top: 27px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    &__block {
        width: 371px;
        padding-bottom: 63px;
        filter: grayscale(100%);
        @media (max-width: 850px) {
            width: 45%;
        }
    }
    
    &__block:hover {
        filter: grayscale(0%);
        transition: 0.5s;
    }

    &__subtitle {
        color: $white;
        margin-top: 40px;
        max-width: 333px;
    }

    &__figure {
        position: absolute;
        right: 0;
        bottom: 0;
        @media (max-width: 870px) {
            display: none;
        }
    }

    &__icon {
        width: 100%;
        max-width: 147px;
        @media (max-width: 870px) {
            width: 70%;
        }
    }
    
    &__secondSection {
        margin-top: 86px;
        @media (max-width: 768px) {
            margin-top: 46px;
        }
    }
}

.subtitle {
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 120%;
    @media (max-width: 620px) {
        font-size: calc(13px + (24 - 13) * ((100vw - 320px) / (1400 - 320)));
    }
}